Package: com.burritoz.cryptowidget
Name: CryptoWidget
Depends: mobilesubstrate, preferenceloader, xyz.burritoz.thomz.multipla (>=2.1.0~rc5)
Version: 1.0.2
Architecture: iphoneos-arm
Description: Crypto currency information on your dock!
Maintainer: burrit0z
Author: burrit0z
Section: Addons
